@import "colors.scss";


.text-primary{
  color: $primary !important;
}

.text-secondary{
  color: $secondary !important;
}

.text-black {
  color: $black !important;
}

.text-white {
  color: $white !important;
}
.text-danger {
  color: $danger !important;
}
